<head>
    <link rel="stylesheet" href = "static/upload_rcl.css">
    <title> Upload and view RCL from</title>
</head>

<body>
    <div class = "gray-box">
        
        <h1>Upload and view RCL</h1>
        
        <div class = "upload-section">
            <form action = "{{ url_for('upload_rcl')}}" class = "rcl_form" method = "post" enctype="multipart/form-data">
                <label for="rcl"> Upload RCL form: </label>
                <input type="file" name="rcl_form" required>
                <br><br>
                <button type="submit"> Upload Form </button>
            </form>
            
        </div>
        
        <div class = "view-section">
            <h2>Uploaded RCL From</h2>
            <iframe id="pdfViewer" src="{{ pdf_url }}" frameborder="0"></iframe>
        </div>
        
    </div>
</body>