<head>
    <link rel="stylesheet" href="static/home.css">
</head>

<body>
    <div class="gray-box">
        <h1>Upload Your Signature</h1>

        <form class="sig-form" action="{{ url_for('upload_signature') }}" method="POST" enctype="multipart/form-data">
            <label for="signature">Select Signature File (JPG only):</label>
            <input type="file" name="signature" accept=".jpg, .jpeg" required>
            <br><br>
            <button type="submit">Upload</button>
        </form>
        
        <br>
        <a href="{{ url_for('dashboard') }}" class="button">Dashboard</a>    
    </div>
</body>