<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='admindashboard.css') }}">
</head>

<script src="static/admindashboard.js" defer></script>

<body class="admin-container">
    <h1>Request Details</h1>
    
    <table>
        <tr><th>Request ID:</th><td>{{ request.id }}</td></tr>
        <tr><th>Student Name:</th><td>{{ request.student_name }}</td></tr>
        <tr><th>Request Type:</th><td>{{ "Reduced Course Load (RCL)" if request.is_rcl else "Term Withdrawal" }}</td></tr>
        <tr><th>Reason:</th><td>{{ request.reason }}</td></tr>
        <tr><th>Submission Date:</th><td>{{ request.submission_date.strftime('%Y-%m-%d') }}</td></tr>
        <tr><th>Status:</th><td>{{ request.status }}</td></tr>

        <tr><th>View PDF:</th>
            <td>
                <iframe src="{{ url_for('form.view_pdf', request_id=request.id) }}" width="90%" height="1000px style="border: none;""></iframe>
            </td>
        </tr>
        <tr><th>Download PDF:</th>
            <td>
                <a href="{{ url_for('form.download_pdf', request_id=request.id) }}" class="download-button">Download PDF</a>
            </td>
        </tr>
    </table>

    <br>
    <a href="{{ url_for('admin.admindashboard') }}" class="button">Back to Dashboard</a>
</body>
